<% provide(:title, "ホーム") %>
<div class="home-container container-cancellation">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-8" id="home-left">
        <p>過去問は解いたら終わりじゃない。</p>
        <img class="icon-image d-inline-block" id="home-big-logo" src="/assets/lookback_logo_white">
        <p class="d-inline-block big-logo-right">で、</p>
        <p>徹底的に分析しよう。</p>
      </div>
      <div class="col-lg-4" id="home-right">
        <a class="big-write-logo d-block" href=<%= new_lookback_path %> data-turbolinks="false">
          <i class="fas fa-pencil-alt"></i>
          <p class="big-word">振り返りを書く！</p>
        </a>
      </div>
    </div>
  </div>
</div>
<div class="home-under-container">
  <div class="description">
    <p class="description-text">
      「カコモンバック」は過去問振り返りサイトです。<br>
      細かく振り返りを行うことで、自身の現状を徹底的に分析し、<br>
      <span>効率良く学力を向上させるための受験生サポートツールです。</span>
      </p>
  </div>
  <div class="use-image-1 container">
    <div class="row">
      <div class="col-lg-6 use-image-1-left">
        <p class="step">STEP 1</p>
        <div class="left-text">
          <p>各項目を記入！</p>
          <i class="fas fa-pencil-alt"></i>
        </div>
      </div>
      <div class="col-lg-6">
        <img class="home-image-1" src="/assets/home-2">
      </div>
    </div>
  </div>
  <div class="use-image-1 container">
    <div class="row">
      <div class="col-lg-6 use-image-1-left">
        <p class="step">STEP 1</p>
        <div class="left-text">
          <p>各項目を記入！</p>
          <i class="fas fa-pencil-alt"></i>
        </div>
      </div>
      <div class="col-lg-6 image-box">
        <img class="home-image-1" src="/assets/home-3">
        <i class="fas fa-hand-point-down hand-left"></i>
        <i class="fas fa-hand-point-down hand-middle"></i>
        <i class="fas fa-hand-point-down hand-right"></i>
      </div>
    </div>
  </div>
  <div class="use-image-3">
    
  </div>
  <div class="use-image-4">
    
  </div>
  <div class="use-image-5">
    
  </div>
</div>
