<% provide(:title, "ホーム") %>
<div class="home-container container-cancellation">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-8" id="home-left">
        <p>過去問は解いたら終わりじゃない。</p>
        <img class="icon-image d-inline-block" id="home-big-logo" src="/assets/lookback_logo_white">
        <p class="d-inline-block big-logo-right">で、</p>
        <p>徹底的に分析しよう。</p>
      </div>
      <div class="col-lg-4" id="home-right">
        <a class="big-write-logo d-block" href=<%= new_lookback_path %> data-turbolinks="false">
          <i class="fas fa-pencil-alt"></i>
          <p class="big-word">振り返りを書く！</p>
        </a>
      </div>
    </div>
  </div>
</div>
<div class="home-under-container">
  <div class="description">
    <p class="description-text">
      「カコモンバック」は過去問振り返りサイトです。<br>
      細かく振り返りを行うことで、自身の現状を徹底的に分析し、<br>
      <span>効率良く学力を向上させるための受験生サポートツールです。</span>
      </p>
  </div>
  <h1 class="catchcopy">簡単&nbsp;<span class="catchcopy-green">3STEP</span>で始めよう！</h1>
  <div class="use-image-box container-fluid">
    <div class="row">
      <div class="col-lg-6 use-image-1-left" id="use-text-1">
        <p class="step text-center text-lg-left px-lg-3">STEP-1</p>
        <div class="left-text">
          <p class="left-text-title">各項目を記入！</p>
          <p>解いた過去問の年度、大学の詳細、各科目の各大問ごとの振り返り及び全体の振り返りを記入します。
              細かく振り返りをすることで、自身のできる・できないを可視化します。
          </p>
        </div>
      </div>
      <div class="col-lg-6" id="use-image-1">
        <img class="home-image-1" src="/assets/homeimage-1">
      </div>
    </div>
  </div>
  <div class="use-image-box container-fluid">
    <div class="row">
      <div class="col-lg-6 use-image-1-left order-lg-2" id="use-text-2">
        <p class="step text-center text-lg-right px-lg-3">STEP-2</p>
        <div class="left-text">
          <p><p class="left-text-title">Todoを登録！</p>
          <p>解いた過去問の年度、大学の詳細、各科目の各大問ごとの振り返り及び全体の振り返りを記入します。
              細かく振り返りをすることで、自身のできる・できないを可視化します。
          </p>
          </p>
        </div>
      </div>
      <div class="col-lg-6 order-lg-1" id="use-image-2">
        <img class="home-image-1" src="/assets/homeimage-2">
      </div>
    </div>
  </div>
  <div class="use-image-box container-fluid">
    <div class="row">
      <div class="col-lg-6 use-image-1-left" id="use-text-3">
        <p class="step text-center text-lg-left px-lg-3">STEP-3</p>
        <div class="left-text">
          <p class="left-text-title">Todoを管理！</p>
          <p>登録したTodoは各振り返り参照ページとTodo一覧ページより見ることができます。
              ボタン一つで達成と削除の操作をすることができ、Todoの管理が簡単にできます。
          </p>
        </div>
      </div>
      <div class="col-lg-6" id="use-image-2">
        <img class="home-image-1" src="/assets/homeimage-3">
      </div>
    </div>
  </div>
  <div class="home-reviews container-fluid">
    <h2>ふせんの色によって状況が確認できる！</h2>
    <div class="home-reviews-flexbox">
      <div class="home-review-box">
        <%= render "review_card", content: "二項定理を用いた問題を5問解く", deadline: "2021年11月21日", effect: ""%>
        <p class="review-description">通常</p>
      </div>
      <div class="home-review-box">
        <%= render "review_card", content: "難しい確率の問題を5問解く", deadline: "2021年11月21日", effect: "near-three-days"%>
        <p class="review-description">期限が三日以内</p>
      </div>
      <div class="home-review-box">
        <%= render "review_card", content: "微分積分の計算問題を50問やる", deadline: "2021年11月21日", effect: "expired"%>
        <p class="review-description">期限切れ</p>
      </div>
    </div>
  </div>
  <div class="use-image-4">
    
  </div>
  <div class="use-image-5">
    
  </div>
</div>
