<div class="nested-fields">
    <div class="review-card-box">
        <div class= "review-tape"></div>
        <div class="l-border l-p-t l-p-r l-p-b l-p-l review-box">
            <%= f.text_area :content, class: "review-text", :required => true %>
            <div class="deadline-box">
                <%= f.date_field :deadline_at, class: "deadline-text d-inline", min: Date.current, :required => true %>
                <p class="deadline-word d-inline">まで</p>
            </div>
            
            <%= f.hidden_field :user_id, :value => current_user.id  %>
            <%= link_to_remove_association f, class: "review-remove-btn"  do%>
                <i class="far fa-times-circle"></i>
            <% end %>
        </div>
        <p>&nbsp;</p>
    </div>
  </div>