<div class="container normal-page-container">
  <div class="lookback-index-box">
    <h1 class="lookback-index-title">振り返り一覧</h1>
    <%= render "shared/lookback_index" %>
    <div class="pagination-box">
      <%= paginate @lookbacks %>
    </div>
  </div>
</div>