<div class="container normal-page-container">
  <div class="page-margin-box">
    <div class="row">
      <div class="col-lg-4">
        <div id="user_home-user-box">
          <%= image_tag @user.image, id: "user_home-userimage"%>
          <div id="user_home-username">
            <%= @user.name %>
          </div>
        </div>
      </div>
      <div id="user_home-right" class="col-lg-8">
        <%= render "users/lookback_index" %>
        <%= render "users/review_index" %>
      </div>
      
        
      </div>
    </div>
  </div>
  
</div>

